footer.footer
  div.container
    div.row.justify-content-between.align-items-center.footer-wrap
      div.col-12.col-md-10.footer-text All Rights Reserved |  2016  |  Designed with love by #[span DesignCoon]
      div.col-12.col-md-2.footer-logo automotive