section.section-services#services
  div.container
    h2.section-title #[span our] services
    div.row.justify-content-md-between.no-gutters.services-items
      div.col-12.col-md-3.col-sm-6.services-item
        div.services-item-img.hearth
        p.services-item-text Making your trip beautiful and easier
      div.col-12.col-md-3.col-sm-6.services-item
        div.services-item-img.kit
        p.services-item-text Tools to help you succeed tommorow
      div.col-12.col-md-3.col-sm-6.services-item
        div.services-item-img.lamp
        p.services-item-text Ideas that will blow you out the blue.
      div.col-12.col-md-3.col-sm-6.services-item
        div.services-item-img.navigation
        p.services-item-text Navigate your path to beautiful world.