section.section-pricing
  div.container
    h2.section-title pricing
    div.row.justify-content-between.no-gutters.pricing-items
      div.col-xs-12.col-md-4.pricing-item
        h6.pricing-title starter
        p.pricing-cost free
        ul.pricing-list
          li.pricing-list-item free service
          li.pricing-list-item multiple accounts
          li.pricing-list-item managment no
          li.pricing-list-item --
          li.pricing-list-item --
        a(href="#!").pricing-btn try
      div.col-xs-12.col-md-4.pricing-item
        h6.pricing-title business
        p.pricing-cost $97
        ul.pricing-list
          li.pricing-list-item free service
          li.pricing-list-item multiple accounts
          li.pricing-list-item managment no
          li.pricing-list-item unlimited data
          li.pricing-list-item --
        a(href="#!").pricing-btn sign up
      div.col-xs-12.col-md-4.pricing-item
        h6.pricing-title professional
        p.pricing-cost $297
        ul.pricing-list
          li.pricing-list-item free service
          li.pricing-list-item multiple accounts
          li.pricing-list-item managment no
          li.pricing-list-item unlimited data
          li.pricing-list-item whatever you need
        a(href="#!").pricing-btn sign up

