section.section-testimonials#gallery
  div.container
    div.row.justify-content-between.no-gutters.testimonials-wrap
      div.col-xs-12.col-md-6.testimonials
        h6.section-title.testimonials-title testimonial
        div.testimonials-list
          div.testimonial
            p.testimonial-text I have been involved with this company for ages and just want to say this is a great work by designcoon.
            p.testimonial-author DJ Bravo - Frequent Travelera
          div.testimonial.bg-grey
            p.testimonial-text.red I have been involved with this company for ages and just.
            p.testimonial-author DJ Bravo - Frequent Travelera
      div.col-12.col-md-5.gallery
        h6.section-title.gallery-title gallery
        div.row.justify-content-between.no-gutters.gallery-list
          div.col-6.col-sm-4.gallery-item
          div.col-6.col-sm-4.gallery-item
          div.col-6.col-sm-4.gallery-item
          div.col-6.col-sm-4.gallery-item
          div.col-6.col-sm-4.gallery-item
          div.col-6.col-sm-4.gallery-item
        a(href="#!").gallery-link view more pictures
