section.section-jumbotron#about
  div.container
    div.row.justify-content-between.no-gutters.jumbotron-wrapper
      div.col-xs-12.col-md-8.jumbotron-text We are in business for over 6 years providing amazing services to client and people love them to the core. View our story to know more.
      div.col-xs-12.col-md-3.jumbotron-btn-wrap
        a(class="jumbotron-btn" href="#!") our story